@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
  box-sizing: border-box;
}

html,
body {
  background: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #1a1a1a;
  display: flex;
    align-items: center;
    justify-content: center;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

a {
  background: #f6f6f6;
  border-radius: 20px;
  color: #1a1a1a;
  cursor: pointer;
  display: inline-block;
  padding: 2px 9px;
  text-decoration: none;

  &:hover {
    background: #eee;
  }
}

.container {
  display: flex;
    justify-content: center;
    align-items: center;
  padding: 20px;
  text-align: center;
  width: 100%;

  img {
    border-radius: 100%;
    display: inline-block;
    height: auto;
    max-width: 170px;

    @media (max-width: 659px) {
      margin-bottom: 10px;
      width: 100%;
    }

    @media (min-width: 660px) {
      display: block;
      margin-right: 20px;
      width: 40%;
    }
  }

  h1 {
    font-size: 25px;
    font-weight: 300;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    margin-top: 0;

    @media (max-width: 659px) {
      margin-bottom: 10px;
    }

    @media (min-width: 660px) {
      margin-bottom: 3px;
    }

    &:first-of-type {
      margin-top: 13px;
      margin-bottom: 10px;

      a {
        background: transparent;
        padding: 5px 10px;

        &:first-child {
          padding-left: 5px;
          position: relative;
          top: -1px;
        }
      }
    }

    &:last-of-type {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  a {
    svg {
      cursor: pointer;
      display: block;
      height: 15px;
      vertical-align: middle;
      width: auto;

      g,
      path {
        fill: #e2e2e2 !important;
      }
    }

    &:hover {
      svg {
        g,
        path {
          fill: #1a1a1a !important;
        }
      }
    }
  }

  a[href*="behance"] {
    svg {
      cursor: pointer;
      display: inline-block;
      height: 7px;
      margin-left: 2px;
      position: relative;
        top: -1px;
      vertical-align: middle;
      width: 7px;
    }

    &:hover {
      svg {
        g,
        path {
          fill: none !important;
        }
      }
    }
  }

  a[href*="linkedin"] svg {
    height: 18px;
  }

  a[href*="github"] svg {
    height: 16px;
  }

  a[href*="mailto"] svg {
    height: 13px;
  }
}
